{% extends 'template.html.twig' %}

{% block title %}{{ user.fullname }} | MODAFA{% endblock %}

{% block logo %}<link rel="icon" href="/assets/images/php.png">{% endblock %}

{% block stylesheets %}
    <link href="/assets/css/styles.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/scripts.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 mt-4">
                <div class="col-xl-9 mt-4">
                    <div class="h1">Update your profile</div>
                    <div class="mt-4">
                        {% include "partials/_flash.html.twig" %}
                    </div>

                    {{ include('profile/_formProfile.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
