{% extends 'template.html.twig' %}

{% block title %}New | MODAFA{% endblock %}

{% block logo %}<link rel="icon" href="/assets/images/php.png">{% endblock %}

{% block stylesheets %}
    <link href="/assets/css/styles.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/scripts.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
{% endblock %}

{% block pageTitle %}
    <h1 class="mt-4">Create new Template</h1>
    <div class=" d-flex flex-row-reverse bd-highlight"><a href="{{ path('app_template_index') }}" class="btn btn-info">Templates</a></div>
{% endblock %}

{% block body %}
    {{ include('template/_form.html.twig') }}
{% endblock %}
