<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
                Copyright &copy; <script>document.write(new Date().getFullYear());</script></span>
                <i>Winseslas. All rights reserved..</i>
            </div>
        </div>
    </div>
</footer>