{% extends 'base.html.twig' %}

{% block title %}Hello InternsController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/starter-template.css">
{% endblock %}
{% block javascripts %}
    <script src="js/bootstrap.min.js"></script>
{% endblock %}
{% block header %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item fw-bolder">
            <a class="nav-link {% if current_menu == path('app_home') %}active {% endif %}" aria-current="page" href="{{ path('app_home') }}">Acceuil</a>
        </li>
    </ul>
{% endblock %}
{% block body %}
    <div class="container mt-4" >
        <div class="starter-template">
            hum
        </div>
    </div>
{% endblock %}