.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}   
@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}
[class="btn btn-primary btn-floating mx-1"]{
    border-radius: 100%;
}