
    <div class="col-6 border-end text-center">
        <h4 class="fw-bold">Navigation</h4>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a href="{{ path('app_home') }}" class="nav-link p-0 text-muted">Accueil</a>
            </li>		
            <li class="nav-item mb-2">
                <a href="{{ path('authentication.login') }}" class="nav-link p-0 text-muted">Se connecter</a>
            </li>

            <li class="nav-item mb-2">
                <a href="{{ path('authentication.register') }}" class="nav-link p-0 text-muted">S'inscrire</a>
            </li>					
        </ul>
    </div>

    <div class="col-6 text-center">
        <h4 class="fw-bold">Contact</h4>
    </div>

    {# <div class="col-6">

        <form action="" method="POST">
            <h4 class="fw-bolder">Abonnez-vous à notre newsletter</h4>
            <p>Condensé mensuel de ce qui est nouveau et existant de notre part.</p>
            <div class="d-flex w-100 gap-2 ">
                <label for="mail" class="visually-hidden">Entre votre mail</label>
                <input required id="mail" type="mail" class="form-control" placeholder="Entre votre mail">
                <button class="btn btn-primary" type="submit">S'inscrire&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
        </form>
    </div> #} 