<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Winseslas" />

        <title>{% block title %}Error | MODAFA{% endblock %}</title>

        {% block logo %}<link rel="icon" href="assets/images/php.png">{% endblock %}

        {% block stylesheets %}
            <link href="../../../assets/css/styles.css" rel="stylesheet" />
        {% endblock %}


        {% block javascripts %}
            <script src="assets/js/scripts.js"></script>
            <script src="node_modules/jquery/dist/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </body>
</html>
